.home-page{ 
    .text-zone { 
        position: absolute; 
        align-content: center;
        left: 10%; 
        top: 50%; 
        transform: translateY(-50%); 
        width: 40%; 
        max-height: 90%; 
        display: absolute;
    }
    h1{
        color: #000;
        font-family: 'Edge';  
        font-size: 73px;
        font-weight: 700;
        margin: 0;       
    }

    h2{
        color: #2f2f2f;
        margin-top: 20px;
        font-weight: 500;
        font-size: 21px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;
    }

    .github {
        // color: #fd4b42;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;

        &:hover {
            // background: #fd4b42;
            color: #fd4b42;
        }
    }

    .flat-button {
        color: #fd4b42;
        font-size: 18px;
        font-weight: 800;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 4px solid #fd4b42;
        margin-top: 25px;
        float: left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;
    
        &:hover {
            background: #fd4b42;
            color: #cecccc;
        }
    }

}