body {
  margin: 0;
  font: 300 11PX/1.4 'Edges', 'sans-serif';
  color: #000000;
  background: #cecccc;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
